
#search-bar-container {
  width: 700px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#search-bar-container h2{
  font-weight: bold;
  font-family: sans-serif;
  width: 100%;
  height: 15px;
}

#search-results{
  position: absolute;
}

#search-bar-container li{
  background-color: lightsteelblue;
  width: 97.5%;
  height: 25px;
  font-size: 20px;
  padding: 5px;
  font-weight: 500;
  font-family: sans-serif;
  list-style-type: none;
}

#search-bar-container li:hover {
  background-color: lightgoldenrodyellow;
  width: 97.5%;
  height: 25px;
  font-size: 20px;
  padding: 5px;
  font-weight: 500;
  font-family: sans-serif;
  list-style-type: none;
}

#resultSearch {
  display: flex;
  width: 100%;
}

#search-bar  input{
  width: 400px;
  height: 25px;
  font-size: 20px;
  padding: 12px, 25px;
}

#selectedPerson {
  width: 100%;
  background-color: #bd0000;
  height: 30px !important;
  margin-left: 5px;
  margin-right: 10px;
  margin-top: 0px;
  text-align: center;
  color: white;
}

#line-chart-svg {
    width: 1200px;
    height: 350px;

}

#node-diagram {
  vertical-align: top;
}

#node-link-container{
  display: flex;
}

/*Movie Info CSS*/
.sideBar {
  width: 40%;
  padding: 1%;
  height: 770px;
  overflow-y: scroll;
}


/*Node Diagram CSS*/
.nodeSpace {
  stroke: black;
  fill: black;
  stroke-width:10;
}

.labelNode {
  font-family: Arial;
  pointer-events: none;
}