#search-bar-container {
  width: 700px;
  position: absolute;
  left: 20%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#search-bar-container h2{
  font-weight: bold;
  font-family: sans-serif;
  width: 100%;
  height: 15px;
}

#search-bar-container li{
  background-color: lightsteelblue;
  width: 99.2%;
  height: 25px;
  font-size: 20px;
  padding: 5px;
  font-weight: 500;
  font-family: sans-serif;
  list-style-type: none;
}

#search-bar-container li:hover {
  background-color: lightgoldenrodyellow;
  width: 99.2%;
  height: 25px;
  font-size: 20px;
  padding: 5px;
  font-weight: 500;
  font-family: sans-serif;
  list-style-type: none;
}

#search-bar {
  width: 100%;
}

#search-bar  input{
  width: 100%;
  height: 25px;
  font-size: 20px;
  padding: 12px, 25px;
}